.header {
  padding: 36px 0 32px 0;
}

.form {
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 8px;
}

.search-input {
  flex: 1;
  padding: 16px 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: 1px solid #808080;
  color: #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 200ms ease-in, color 200ms ease-in;
}

.search-input:hover {
  border: 1px solid #000000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
  color: #000000;
}

.search-input:active {
  border: 1px solid #2e2f42;
  color: #000000;
}

.search-button {
  padding: 8px 16px;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}

.search-button:hover,
.search-button:focus {
  background-color: #6c8cff;
}
